.input-field label {
  color: red;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid rgb(190, 32, 32);
  box-shadow: 0 1px 0 0 #000;
}


.CampaignImage{
  height: 50px;
  width: 50px;
}

.navbar{
  background-color: #00568c !important;
}
button{
  background-color: #fba235 !important;
}

.card{
  background-color: rgb(102, 160, 253);
}
.card {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
