.navbar {
  background-color: #007bff;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  text-decoration: none;
  font-family: Acme;
}

.nav-link {
  font-size: 22px;
  font-weight: 600;
  color: white;
  float: right;
  list-style-type: none;
}

.nav-link a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.logout-link {
  margin-left: 60px;
}

.logout-link i {
  margin-right: 5px;
}



@media only screen and (max-width: 768px) {
  
  .brand-logo{
    font-size: 19px;
  }

  .nav-link a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
  .nav-link {
    font-size: 15px;
  }

}